{% extends "base.html" %}

{% block content %}
<div class="container is-fluid">
  <h1 class="title">All Albums</h1>

  <p class="subtitle"><a href="{% url 'new' %}">Add New Album</a></p>

  <div class="columns is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-evenly is-align-content-space-evenly">
    {% for album in albums %}
    <div class="box column is-3 has-background-info-dark m-3">
      <h2 class="title is-4 has-text-primary-light">{{ album.title }}</h2>
        <div class="subtitle has-text-info-light">{{ album.artist }}</div>
        <div class="subtitle is-6 has-text-success-light">{{ album.created_at }}</div>
      

      <p>
        <a class="has-text-link-light" href="{% url 'details' pk=album.pk %}">View Details</a><br>
        <a class="has-text-link-light" href="{% url 'edit' pk=album.pk %}">Edit Album</a><br>    
        <a class="has-text-danger-light" href="{% url 'delete' pk=album.pk %}">Delete Album</a>
      </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
